<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright 2017 By_syk

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.madsam.neoiconpack">

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <queries>
        <!-- 允许查询所有带启动器的应用 -->
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>

        <!-- 允许查询所有已安装的应用 -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
        </intent>
    </queries>

    <!-- for sending icon to home screen -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <!-- for requesting redrawing -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppThemeLightWithDark">

        <activity
            android:name="com.madsam.neoiconpack.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- For Nova -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.teslacoilsw.launcher.THEME" />
            </intent-filter>
            <!-- For Apex -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.anddoes.launcher.THEME" />
            </intent-filter>
            <!-- For ADW -->
            <intent-filter>
                <action android:name="org.adw.launcher.THEMES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- For Xperia Home -->
            <intent-filter>
                <action android:name="com.sonymobile.home.ICON_PACK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.madsam.neoiconpack.IconPickActivity"
            android:exported="true">
            <!-- For Nova -->
            <intent-filter>
                <action android:name="com.novalauncher.THEME" />
                <category android:name="com.novalauncher.category.CUSTOM_ICON_PICKER" />
            </intent-filter>
            <!-- For ADW -->
            <intent-filter>
                <action android:name="org.adw.launcher.icons.ACTION_PICK_ICON" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.madsam.neoiconpack.WhatsNewActivity"
            android:exported="false"
            android:label="@string/activity_whats_new" />

        <activity
            android:name="com.madsam.neoiconpack.SearchActivity"
            android:exported="false"
            android:label="@string/activity_search" />

        <activity
            android:name="com.madsam.neoiconpack.AboutActivity"
            android:exported="false"
            android:label="@string/activity_about" />

        <activity
            android:name="com.madsam.neoiconpack.ReqStatsActivity"
            android:exported="false"
            android:label="@string/activity_req_stats"
            android:theme="@style/AppThemeDarkConsole"
            android:launchMode="singleInstance"
            android:documentLaunchMode="intoExisting" />

    </application>

</manifest>